.item {
    background-color: rosybrown;
}
#item1 {
    background-color: rgb(236, 143, 81);
}
#lista1 {
    background-color: rgb(141, 243, 115);
}
#zeta {
     background-color: rgb(141, 243, 115);
} 